.borders {
    border: 2px solid black;
    border-radius: 10px;
}

.container {
    text-align: center;
    padding-top: 30px;
    
}

.container-fluid {
    text-align: center;
}

.velkommen {
    -webkit-text-fill-color: #6EC829;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 60px;
}

.velkommen2017 {
    -webkit-text-fill-color: #FF0000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 80px;
}

.center {
	float: none;
	display: inline-block;
	vertical-align: top;

}

.margintop {
    margin-top: 50px;
}

body {
    background-color: #4ABDAC;
}

.hvit {
    background-color: white;
}